

<div class="add">
  <button mat-icon-button class="add-button" (click)="NewUserinfo()">
      <i class="material-icons" title="Click here to add new user info ">add_circle_outline</i>
  </button>
  <span class="add-title">Add New User info</span>
  </div>


  <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
    <table mat-table [dataSource]="UserinfoListDataSource" class="mat-elevation-z8 mat-table" matSort matSortStart="desc">


  <ng-container matColumnDef="editAction">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let userScheduler">
          <button mat-icon-button (click)="edituserinfo(userScheduler)">
              <i class="material-icons" title="Edit">create</i>
          </button>
      </td>
  </ng-container>

  <ng-container matColumnDef="deleteAction">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let userScheduler">
        <button mat-icon-button (click)="deleteuserinfo(userScheduler.userId)" class="padding-left-20px">
            <i class="material-icons" title="click here to delete userId">close</i>
        </button>
    </td>
  </ng-container>
        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User Name </th>
            <td mat-cell *matCellDef="let userScheduler" class="user-data"> {{userScheduler.userName}} </td>
        </ng-container>

      <ng-container matColumnDef="isEnabled">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> IsEnabled </th>
        <td mat-cell *matCellDef="let userScheduler" class="user-data"> {{userScheduler.isEnabled}} </td>
    </ng-container>

        <ng-container matColumnDef="vendorSiteId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> VendorSite Id </th>
          <td mat-cell *matCellDef="let userScheduler" class="user-data"> {{userScheduler.vendorSiteId}} </td>
      </ng-container>

      <ng-container matColumnDef="creatts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created date  </th>
        <td mat-cell *matCellDef="let userScheduler" class="user-data"> {{userScheduler.creatts}} </td>
    </ng-container>

    <ng-container matColumnDef="updtts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated date  </th>
      <td mat-cell *matCellDef="let userScheduler" class="user-data"> {{userScheduler.updtts}} </td>
    </ng-container>

    <ng-container matColumnDef="validityts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Validity date  </th>
      <td mat-cell *matCellDef="let userScheduler" class="user-data"> {{userScheduler.validityts}} </td>
    </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  </div>


