table {
  width: 100%;
}
.mat-card {
  text-align: center;
  img {
      border-radius: 5px;
      margin-top: -25px;
  }
}
.mat-table {
  box-shadow: 0 3px 1px -2px rgba(53, 23, 23, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mat-header-cell {
  color:rgba(0,0,0,.54);
  align-items: center;
  font-weight: bold;
}
.mb-20 {
  margin-bottom: 20px;
}

element.style {
  max-width: 80vw;
  pointer-events: auto;
  width: 500px;
  position: static;
}
.site-data{text-align: center;border-right:2px solid #1a237e ;border-bottom:2px solid #1a237e;}
span.add-title {
  font-size: 20px;
  font-weight: bold;
}
span.add-title:hover {
  color: #e0e011!important;
}
i.material-icons:hover{
  color:#e0e011 !important;
}
.mat-column-editAction{
  border-bottom: 2px solid #1a237e;border-right:2px solid #1a237e;
}
.mat-column-deleteAction {border-bottom: 2px solid #1a237e;}



