<mat-form-field>
  <mat-label>Bus Id</mat-label>
   <mat-select [(ngModel)]="confgFilter.BusId"  (ngModelChange)="BusChange()">

      <mat-option [value]="buses.id" *ngFor="let buses of busesArray">{{buses.name}}
      </mat-option>
  </mat-select>
</mat-form-field>

<div class="add">
  <button mat-icon-button class="add-button" (click)="Newconfig()">
      <i class="material-icons" title="Click here to add new logs info ">add_circle_outline</i>
  </button>
  <span class="add-title">Add New Config </span>
  </div>

<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
<div fxFlex>
<table mat-table [dataSource]="confgListDataSource" class="mat-elevation-z8 mat-table" matSort matSortStart="desc">

    <!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->

<ng-container matColumnDef="editAction">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let confgScheduler">
      <button mat-icon-button (click)="editconfig(confgScheduler)">
          <i class="material-icons" title="Edit">create</i>
      </button>
  </td>
</ng-container>

<!-- delete icon -->
<ng-container matColumnDef="deleteAction">
<th mat-header-cell *matHeaderCellDef></th>
<td mat-cell *matCellDef="let confgScheduler">
    <button mat-icon-button (click)="Deleteconfig(confgScheduler.confgID)" class="padding-left-20px">
        <i class="material-icons" title="click here to delete Config">close</i>
    </button>
</td>
</ng-container>

    <!-- taskName Column -->
    <ng-container matColumnDef="siteID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Site Id </th>
        <td mat-cell *matCellDef="let confgScheduler" class="config-data"> {{confgScheduler.siteID}} </td>
    </ng-container>

    <ng-container matColumnDef="busID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bus Id </th>
      <td mat-cell *matCellDef="let confgScheduler" class="config-data"> {{confgScheduler.busID}} </td>
  </ng-container>

  <ng-container matColumnDef="stack_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stack name  </th>
    <td mat-cell *matCellDef="let confgScheduler" class="config-data"> {{confgScheduler.stack_name}} </td>
</ng-container>

<ng-container matColumnDef="stack_typ">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Stack_type  </th>
  <td mat-cell *matCellDef="let confgScheduler" class="config-data"> {{confgScheduler.stack_typ}} </td>
</ng-container>

<ng-container matColumnDef="stack_status">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Stack_Status  </th>
  <td mat-cell *matCellDef="let confgScheduler" class="config-data"> {{confgScheduler.stack_status}} </td>
</ng-container>

<ng-container matColumnDef="input_format">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Input Format  </th>
  <td mat-cell *matCellDef="let confgScheduler" class="config-data"> {{confgScheduler.input_format}} </td>
</ng-container>

<ng-container matColumnDef="output_format">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Output_format  </th>
  <td mat-cell *matCellDef="let confgScheduler" class="config-data"> {{confgScheduler.output_format}} </td>
</ng-container>

<ng-container matColumnDef="createts">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date  </th>
  <td mat-cell *matCellDef="let confgScheduler" class="config-data"> {{confgScheduler.createts}} </td>
</ng-container>

<ng-container matColumnDef="updatets">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date  </th>
  <td mat-cell *matCellDef="let confgScheduler" class="config-data"> {{confgScheduler.updatets}} </td>
</ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<!--<mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]" showFirstLastButtons>
</mat-paginator>-->
</div>
</div>

