
.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

table {
  width: 100%;
  // display: block !important;

  max-width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}



.mat-table {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
      max-height: 500px;
      overflow: auto;
      width: 100%;
      // display: block !important;
}
.mat-cell {
  width:150px !important;
  white-space: nowrap;
  min-width: 80px !important;
  border-bottom: 2px solid #1a237e;
  border-right: 2px solid #1a237e;
  display: inline-block;
  text-align: center;
  padding-top: 25px;
}

.mat-header-cell {
  width:150px !important;
  white-space: nowrap;
  min-width: 80px !important;

}

tr.mat-header-row {
height: 40px !important;
}
tr.mat-footer-row,
tr.mat-row {
height: 40px !important;
}
.mb-20 {
  margin-bottom: 10px;
}
.mat-header-cell, .mat-sort-header {
background-color:#1a237e;
color:#fafafa;
border-bottom: 2px solid #1a237e;
border-right: 2px solid #000;
}

.mat-sort-header-container {
  align-items: center;
  margin: 0 auto !important;
  display: inline-block !important;
  margin-left: 10px;
}
.mat-sort-header-button {
  margin-left: 6px !important;
}
.mat-row:nth-child(even){
        background-color:white ;
        }

 .mat-row:nth-child(odd){
        background-color:#fafafa;
        }


        .row,
.header-row {
  display: table-row;
  min-height: 36px !important;
}

.cell,
.header-cell {
  word-wrap: initial;
  display: table-cell;
      padding: 0px 5px;
  line-break: unset;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

.header-row,
.header-cell {
  margin: 0 auto;
  min-height: 100px !important;
  text-align: center;
  vertical-align: middle;
  align-self: center;
}


.mat-form-field {
  margin-right: 12px;
}
.mat-h-30{
  height: 5px;
}

.fontsize-20-icon {
  font-size: 23px;
  margin: -10px;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
    display: inline-flex;
    min-width: 100%;

}

mat-cell:nth-child(1),
mat-header-cell:nth-child(1) {
    flex: 0 0 12%;
}

mat-cell:nth-child(2),
mat-header-cell:nth-child(2) {
    flex: 0 0 100px;
}

.customWidthClass{
  flex: 0 0 100px;
}
.commonbtn-realtime:hover{
  color:#fff !important;
  background-color: #1a237e !important;
  border:2px solid #fff !important;
  cursor: pointer;
  overflow: hidden;
}
.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
  margin: 4px 0px !important;
}
.mat-card-actions {
  margin-left: 16px;
  margin-right: -1px;
  padding: 8px 0;
}
.commonbtn-realtime{border: 2px solid #1a237e;color: #1a237e;}
.file-copy:hover i{color:#fff;}
.mat-card-actions-align-end {
  display: inline-grid;
}
.mat-card-actions {
   margin-bottom: 0px;
}
.file-copy{margin-top: 20px;}
.mat-select-value {
  font-size: 13px !important;
}

