<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div fxFlex>
  <table mat-table [dataSource]="ErrorCodeListDataSource" class="mat-elevation-z8 mat-table" matSort matSortStart="desc">

      <!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->

 <!-- instanceName Column -->

 <ng-container matColumnDef="deleteAction">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let errorcodetaskScheduler">
      <button mat-icon-button (click)="deleteerrorcode(errorcodetaskScheduler.errorcode)" class="padding-left-20px">
          <i class="material-icons" title="click here to delete busId">close</i>
      </button>
  </td>
</ng-container>

 <ng-container matColumnDef="errorcode">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Error code </th>
  <td mat-cell *matCellDef="let errorcodetaskScheduler"> {{errorcodetaskScheduler.errorcode}} </td>
</ng-container>

<!-- startTime Column -->
<ng-container [style.display]="'none'" matColumnDef="errordesc">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Error desc </th>
  <td mat-cell *matCellDef="let errorcodetaskScheduler"> {{errorcodetaskScheduler.errordesc }} </td>
</ng-container>

<ng-container [style.display]="'none'" matColumnDef="updt_ts">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated date </th>
  <td mat-cell *matCellDef="let errorcodetaskScheduler"> {{errorcodetaskScheduler.updt_ts }} </td>
</ng-container>

      <!-- startDate Column -->
     <!--  <ng-container matColumnDef="creatts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
          <td mat-cell *matCellDef="let taskScheduler"> {{taskScheduler.creatts | date:'MM/dd/yyyy'}} </td>
      </ng-container>-->

      <!-- startTime Column -->
     <!-- <ng-container [style.display]="'none'" matColumnDef="updtts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified Time </th>
          <td mat-cell *matCellDef="let taskScheduler"> {{taskScheduler.updtts |date:'MM/dd/yyyy' }} </td>
      </ng-container>-->

      <!-- frequencyTypeName Column -->


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
</div>
