.login-form {
  min-width: 150px;
  max-width: 350px;
  width: 50%;
  border: 1px solid lightgray;
  padding:20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #3d3780;
  float: right;
  background-color: rgba(61, 55, 128, 0.7);

}
.mat-h1{color:#fff;}
.mat-h3{color:#fff;}
.login-img{text-align: left;}
.login-nature{height:400px !important;width:400px; border-top-right-radius: 25px;border-bottom-right-radius: 25px;}
.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  color: #fff;
}
.logmain-sec{width: 100%;border-radius: 10px;}
mat-label{color:#fff !important;}
.mat-raised-button {
  background-color: #3ec4de !important;
  border: 2px solid #3ec4de !important;
  color: #fff !important;
}
.login-pg{

  background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover !important;
    height:100%;
    background: linear-gradient(90deg, rgba(12,60,96,0.5), rgba(12, 60, 96, 0.5)), url('src/assets/images/loginpage.jpg') center top no-repeat;
}

.login-field-full-width {
  width: 100%;
}

.emsv-header {
  font-size: 30px;
  color: #fff;
  font-size: -webkit-xxx-large;
  letter-spacing: 10px;
  font-weight: bold;
}

.register-link{
  text-decoration: none;
  color: rgba(0,120,212,1);
}
.login-logo {
  width: 150px;
  float: left;
  margin-left: 50px;
}
