@import 'material';
@import 'main';
@import 'utils';
@import 'responsive';


mat-label {
  color: #6f6296;
  font-size: 18px;
}
.mat-icon-button .mat-icon, .mat-icon-button i {
  font-weight: bold;
}
.mat-button-wrapper i{ color: #1a237e;}
.add span {
  color: #1a237e;
}
.mat-sort-header-button{
  background-color:#1a237e
}
.mat-list-item-content{font-weight: bold;}
.mat-h2.header {
  text-align: left !important;
  background-color:#1a237e;
  color: #fff;
  padding: 0px !important;
  overflow: hidden;
    width: 100%;
    margin-top: 5px;
}
tr.mat-header-row {
  background-color:#1a237e
}
.mat-sort-header-button{
  color: #fff !important;
}
.mat-button:hover{
  color: #1a237e !important;
  background-color: transparent !important;
  cursor: pointer;
  border:2px solid #6f6296;
}

.mat-raised-button:hover{
  color: #6f6296 !important;
  background-color: transparent !important;
  cursor: pointer;
  border:1px solid #6f6296;
}
.mat-raised-button{
  background-color: #6f6296 !important;
  border:2px solid #6f6296 !important;
  color:#fff !important;
}
.mat-menu-item:hover{
  background-color: #6f6296 !important;
  color: #fff;
}
.mat-menu-content{padding: 0px !important;}
.cdk-overlay-pane {
  width: auto !important;
}
.close-btn {
  text-align: right;
  // position: absolute;
  // right: 148px;
  // top: 25%;
}
.mat-sort-header-arrow {
  color: #fff;
}
.mat-dialog-container{
  padding-top: 0px !important;
}
.add{float:right;margin-right: 25px;cursor: pointer;}
.mat-sort-header-container{
  margin: 0 auto !important;
  width: fit-content !important;
  }
  .mat-sort-header-container {
    font-size: 16px !important;
  }
  .mat-list-item-content{cursor: pointer;color: #fff;}
  .mat-form-field-infix {
    width: 170px !important;
  }
  .mat-option-text{text-align: left;padding-left:40px;color: #1a237e;}
  .mat-option-text:hover{background-color: #1a237e;color:#fff;widows: 100%;}
  .mat-option{padding: 0px !important;}
  .mat-snack-bar-container {
    position: absolute;
    top: 40%;
    left: 40%;
    height: 150px;
}
  .mat-snack-bar-container {
     background: #fff;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    color: #000 !important;
}
.cdk-global-overlay-wrapper {
  background: rgba(0,0,0,.32);
}
.close-btn .mat-icon-button{
  position: absolute !important;
  margin-top: -11px;
  padding-right: 7px;
}
