

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="10px">
    <div fxFlex>
        <app-stat [bgClass]="'success'" [icon]="'dashboard'" [count]="stackCount" [label]="'Monitoring Stations'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'info'" [icon]="'settings_input_antenna'" [count]="paramCount" [label]="'Parameters Monitored'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'view_list'" [count]="exceedenceCount" [label]="'Exceeding Parameters'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'notification_important'" [count]="alertCount" [label]="'Alerts'"></app-stat>
    </div>
</div>

<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column" >
    <div fxFlex>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table" matSort matSortStart="desc">
            <ng-container matColumnDef="stackName">
                <th mat-header-cell *matHeaderCellDef> <button matTooltip="Show All" mat-icon-button>
                    
                    <mat-icon   (click)="showAllSeries()">insert_chart_outlined</mat-icon>
                  </button> StackName. </th>
                <td mat-cell *matCellDef="let element"><button matTooltip="Show Graph for" mat-icon-button>
                  <mat-icon (click)="SelectedrowDrawCharts(element)">insert_chart_outlined</mat-icon>
                </button> {{element.stackName}}
                  
                </td>
            </ng-container>
            <ng-container matColumnDef="paramName">
                <th mat-header-cell *matHeaderCellDef> Parameter Name </th>
                <td mat-cell *matCellDef="let element"> {{element.paramName}} </td>
            </ng-container>
            <ng-container matColumnDef="paramUnits">
              <th mat-header-cell *matHeaderCellDef> Units </th>
              <td mat-cell *matCellDef="let element"> {{element.paramUnits}} </td>
          </ng-container>
            <ng-container matColumnDef="paramValue">
                <th mat-header-cell *matHeaderCellDef> Value </th>
                <td mat-cell *matCellDef="let element"> {{element.paramValue}} </td>
            </ng-container>
            <ng-container matColumnDef="recordedDate">
                <th mat-header-cell *matHeaderCellDef> Created Date </th>
                <td mat-cell *matCellDef="let element"> {{element.recordedDate}} </td>
            </ng-container>
            <ng-container matColumnDef="threShholdValue">
              <th mat-header-cell *matHeaderCellDef> ThrshHolde Value </th>
              <td mat-cell *matCellDef="let element"> {{element.threShholdValue}} </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

            <!-- Group header -->
  <ng-container matColumnDef="groupHeader">
    <td colspan="999" mat-cell *matCellDef="let groupBy">
      
      <strong>  {{groupBy.stackName}}

     
    </strong>
    <button mat-icon-button>
   <mat-icon (click)="SelectedGroupDrawCharts(groupBy)">insert_chart_outlined</mat-icon></button></td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]" showFirstLastButtons>
        </mat-paginator>

    </div>
</div>


<!-- <button mat-stroked-button (click)="init()">Init</button>
<button mat-stroked-button (click)="addSerie()">Add Serie</button>
<button mat-stroked-button (click)="removeSerie()">Remove Serie</button>
<button mat-stroked-button (click)="addPoint()">Add Point</button>
<button mat-stroked-button (click)="removePoint()">Remove Point</button>
<button mat-stroked-button (click)="changeType()">Update Chart</button> -->
<div [chart]="chart"></div>

