

<div class="mb-20 mt-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="10px">
  <div fxFlex>

     <a style="text-decoration: none" href="javascript:void(0)" (click)="onStationClick(1)"><app-stat  [bgClass]="'success'" [icon]="'dashboard'" [count]="stackCount" [label]="'Monitoring Stations'"></app-stat></a>
  </div>
  <div fxFlex>
      <a style="text-decoration: none" href="javascript:void(0)" (click)="onStationClick(2)"><app-stat [bgClass]="'info'" [icon]="'settings_input_antenna'" [count]="paramCount" [label]="'Parameters Monitored'"></app-stat></a>
  </div>
  <div fxFlex>
      <a style="text-decoration: none" href="javascript:void(0)" (click)="onStationClick(3)"><app-stat [bgClass]="'danger'" [icon]="'view_list'" [count]="exceedenceCount" [label]="'Exceeding Parameters'"></app-stat></a>
  </div>
  <div fxFlex>
      <a style="text-decoration: none" href="javascript:void(0)" (click)="onStationClick(4)"><app-stat [bgClass]="'warn'" [icon]="'notification_important'" [count]="alertCount" [label]="'Alerts'"></app-stat></a>
  </div>
</div>

<div class="mb-10 dashbord-tablevalues" flFlex flexLayout="row" flexLayout.lt-md="column" >
  <div fxFlex>
      <table mat-table [dataSource]="dataSource"  matSort matSortStart="desc">

          <ng-container matColumnDef="paramName" class="dashboard-tableheadings">
              <th mat-header-cell *matHeaderCellDef>

                  <!-- <button matTooltip="Show All" mat-icon-button>

                      <mat-icon>insert_chart_outlined</mat-icon>
                    </button> -->
                    Parameter Name
                    <button matTooltip="Show All" mat-icon-button>

                        <i class="fa fa-chart-line" (click)="showAllSeries()" style="color:#fff;"></i>

                      </button></th>

              <td [ngStyle]="{'background-color': element.color_code}" mat-cell *matCellDef="let element">
                  {{element.paramName}}
                  <button matTooltip="Show Graph for" mat-icon-button>
                      <!-- <mat-icon (click)="SelectedrowDrawCharts(element)">insert_chart_outlined</mat-icon> -->
                       <i class="fa fa-chart-line" (click)="SelectedrowDrawCharts(element)"></i>



                    </button>
                </td>
          </ng-container>
          <ng-container matColumnDef="paramUnits" class="dashboard-tableheadings">
            <th mat-header-cell *matHeaderCellDef> Units of Messure </th>
            <td [ngStyle]="{'background-color': element.color_code}" mat-cell *matCellDef="let element"> {{element.paramUnits}} </td>
        </ng-container>
          <ng-container matColumnDef="paramValue" class="dashboard-tableheadings">
              <th mat-header-cell *matHeaderCellDef> Value </th>
              <td  [ngStyle]="{'background-color': element.color_code}" mat-cell *matCellDef="let element"> {{element.paramValue}} </td>
          </ng-container>
          <ng-container matColumnDef="recordedDate" class="dashboard-tableheadings">
              <th mat-header-cell *matHeaderCellDef> Created Date </th>
              <td [ngStyle]="{'background-color': element.color_code}" mat-cell *matCellDef="let element"> {{element.recordedDate}} </td>
          </ng-container>
          <ng-container matColumnDef="threShholdValue" class="dashboard-tableheadings">
            <th mat-header-cell *matHeaderCellDef> ThreshHold Value </th>
            <td  [ngStyle]="{'background-color':element.color_code}" mat-cell *matCellDef="let element"> {{element.threShholdValue}} </td>
        </ng-container>
        <ng-container matColumnDef="limit" class="dashboard-tableheadings">
          <th mat-header-cell *matHeaderCellDef> Limit </th>
          <td [ngStyle]="{'background-color': element.color_code}" mat-cell *matCellDef="let element"> {{element.limit}} </td>
      </ng-container>
      <!-- <ng-container matColumnDef="parammaxvalue" class="dashboard-tableheadings">
        <th mat-header-cell *matHeaderCellDef> Param Max Value </th>
        <td [ngStyle]="{'background-color': element.color_code}" mat-cell *matCellDef="let element"> {{element.parammaxvalue}} </td>
    </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

          <!-- Group header -->
<ng-container matColumnDef="groupHeader">
  <td [ngStyle]="{'background-color': groupBy.color_code}"  colspan="999" mat-cell *matCellDef="let groupBy" class="dashboard-analyzer">

    <strong>  {{groupBy.stackName}}
  </strong>
<button mat-icon-button>
      <i class="fa fa-chart-line"  (click)="SelectedGroupDrawCharts(groupBy)"></i>
</button>
<a href="javascript:void()"><i class="fa fa-camera" matTooltip="Show camera " (click)="opencamera()" routerLinkActive="active" style="margin-left:30px;color:#1a237e;"></i></a>
<a href="javascript:void()"><i class="fa fa-file-excel"  matTooltip="Export to excel " (click)="exporttoexcelClick(groupBy)" style="margin-left:20px;color:green;"></i></a>
<a href="javascript:void()"><i class="fa fa-file-pdf" matTooltip="Export to pdf " style="margin-left:20px;color:#1a237e;"></i></a>
<span style="float:right;padding: 10px 0px 0px 0px;font-weight: bold;">Historical data:<a href="javascript:void();"><i class="fa fa-arrow-right"  href="javascript:void(0)" (click)="historicaldata(groupBy)" matTooltip="" style="margin-left:20px;color:#1a237e;"></i></a>
  <!-- <a href="javascript:void();"><i class="fa fa-file-pdf" matTooltip="Export to pdf " style="margin-left:20px;color:#1a237e;"></i></a> --></span>
</td>

</ng-container>

<tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"> </tr>
      </table>
      <!-- <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]" showFirstLastButtons>
      </mat-paginator> -->

  </div>
</div>
<div #container2></div>

<!-- <button mat-stroked-button (click)="init()">Init</button>
<button mat-stroked-button (click)="addSerie()">Add Serie</button>
<button mat-stroked-button (click)="removeSerie()">Remove Serie</button>
<button mat-stroked-button (click)="addPoint()">Add Point</button>
<button mat-stroked-button (click)="removePoint()">Remove Point</button>
<button mat-stroked-button (click)="changeType()">Update Chart</button> -->
<!-- <div [chart]="chart"></div> -->

<!-- <highcharts-chart style="width: 99.8%; display: block"
  [Highcharts]="Highcharts"
  [(update)]="updateFlag" [oneToOne]="true"
[constructorType]="'stockChart'"
[options]="chartOptions">
</highcharts-chart> -->

<div #container></div>

