
       <mat-form-field>
        <mat-label>SiteId</mat-label>
         <mat-select>
            <mat-option [value]="site.id" *ngFor="let site of sitesArray">{{site.id}}  <label>-</label> <span class="cntr-sitename">{{site.name}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>
<div class="add">
  <button mat-icon-button class="add-button" (click)="NewController()">
      <i class="material-icons" title="Click here to add new controller ">add_circle_outline</i>
  </button>
  <span class="add-title">Add Controller</span>
  </div>

<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div fxFlex>
  <table mat-table [dataSource]="ControllerListDataSource" class="mat-elevation-z8 mat-table" matSort matSortStart="desc">

      <!--- Note that these columns can be defined in any order.
The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="editAction">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let controllerScheduler">
        <button mat-icon-button (click)="editcontroller(controllerScheduler)">
            <i class="material-icons" title="Edit">create</i>
        </button>
    </td>
</ng-container>

<!-- delete icon -->
<ng-container matColumnDef="deleteAction">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let controllerScheduler">
      <button mat-icon-button (click)="Deletecontroller(controllerScheduler.macId)" class="padding-left-20px">
          <i class="material-icons" title="click here to delete Parameter">close</i>
      </button>
  </td>
</ng-container>


      <!-- instanceName Column -->
      <ng-container  matColumnDef="macId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mac Id </th>
          <td mat-cell *matCellDef="let controllerScheduler" class="controller-data"> {{controllerScheduler.macId}} </td>
      </ng-container>

      <!-- taskName Column -->
      <ng-container matColumnDef="siteId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Site Id </th>
          <td mat-cell *matCellDef="let controllerScheduler" class="controller-data"> {{controllerScheduler.siteId}} </td>
      </ng-container>

      <ng-container matColumnDef="osType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> OsType </th>
        <td mat-cell *matCellDef="let controllerScheduler" class="controller-data"> {{controllerScheduler.osType}} </td>
    </ng-container>

    <ng-container matColumnDef="cpcbUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cpcb_url  </th>
      <td mat-cell *matCellDef="let controllerScheduler" class="controller-data"> {{controllerScheduler.cpcbUrl}} </td>
  </ng-container>

  <ng-container matColumnDef="spcburl">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Spcb_url  </th>
    <td mat-cell *matCellDef="let controllerScheduler" class="controller-data"> {{controllerScheduler.spcburl}} </td>
</ng-container>

  <ng-container matColumnDef="licenseKey">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> License_key  </th>
    <td mat-cell *matCellDef="let controllerScheduler" class="controller-data"> {{controllerScheduler.licenseKey}} </td>
  </ng-container>

  <ng-container matColumnDef="updtts">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated time  </th>
    <td mat-cell *matCellDef="let controllerScheduler" class="controller-data"> {{controllerScheduler.updtts}} </td>
  </ng-container>

      <!-- startDate Column -->
     <!--  <ng-container matColumnDef="creatts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
          <td mat-cell *matCellDef="let taskScheduler"> {{taskScheduler.creatts | date:'MM/dd/yyyy'}} </td>
      </ng-container>-->

      <!-- startTime Column -->
     <!-- <ng-container [style.display]="'none'" matColumnDef="updtts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified Time </th>
          <td mat-cell *matCellDef="let taskScheduler"> {{taskScheduler.updtts |date:'MM/dd/yyyy' }} </td>
      </ng-container>-->

      <!-- frequencyTypeName Column -->


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <!--<mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]" showFirstLastButtons>
  </mat-paginator>-->
</div>
</div>

