<div class="divTaskScheduler">
  <div fxFlex>
    <form [formGroup]="schedulerForm" class="scheduler-form">
        <div class="close-btn">
            <button mat-icon-button  (click)="onCloseClick()">
                <i class="material-icons" title="Click here to delete Config popup">cancel</i>
            </button>
          </div>
      <div class="mat-h2 header">
        Config
      </div>
      <mat-form-field class="half-width float-left">
        <mat-label>ConfigID.</mat-label>
        <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
          Errorcode is
          <strong>required</strong>
      </mat-error> -->
        <input matInput type="number" min="1" formControlName="confgID">
    </mat-form-field>
      <mat-form-field class="half-width float-right">
          <mat-label>siteId.</mat-label>
          <!-- <mat-error *ngIf="schedulerForm.controls.siteId.hasError('required')">
              Siteid is
              <strong>required</strong>
          </mat-error> -->
          <mat-select formControlName="siteID" >

             <mat-option [value]="site.id" *ngFor="let site of sitesArray">{{site.id}}
             </mat-option>
         </mat-select>
     </mat-form-field>
      <mat-form-field class="half-width float-left">
        <mat-label>busID.</mat-label>
        <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
          Errorcode is
          <strong>required</strong>
      </mat-error> -->
        <input matInput type="number" min="1" formControlName="busID">
    </mat-form-field>
    <!-- <mat-form-field class="half-width float-right">
        <mat-label>vendorID.</mat-label>
        <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
          Errorcode is
          <strong>required</strong>
      </mat-error>
        <input matInput type="string" min="1" formControlName="vendorID">
    </mat-form-field> -->
    <mat-form-field class="half-width float-right">
        <mat-label>stack_name.</mat-label>
        <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
          Errorcode is
          <strong>required</strong>
      </mat-error> -->
        <input matInput type="string" min="1" formControlName="stack_name">
    </mat-form-field>
    <mat-form-field class="half-width float-left">
        <mat-label>stack_typ.</mat-label>
        <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
          Errorcode is
          <strong>required</strong>
      </mat-error> -->
        <input matInput type="string" min="1" formControlName="stack_typ">
    </mat-form-field>
    <mat-form-field class="half-width float-right">
        <mat-label>stack_status.</mat-label>
        <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
          Errorcode is
          <strong>required</strong>
      </mat-error> -->
        <input matInput type="string" min="1" formControlName="stack_status">
    </mat-form-field>
    <div class="mat-h2 header">
      Modbus or Protocal
    </div>

    <mat-form-field class="half-width float-left">
      <mat-label>InputFormat.</mat-label>
      <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
        Errorcode is
        <strong>required</strong>
    </mat-error> -->
      <input matInput type="string" min="1" formControlName="input_format">
      </mat-form-field>

   <mat-form-field class="half-width float-right">
    <mat-label>OutputFormat.</mat-label>
    <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
      Errorcode is
      <strong>required</strong>
  </mat-error> -->
    <input matInput type="string" min="1" formControlName="output_format">
    </mat-form-field>
    <mat-form-field class="half-width float-left">
      <mat-label>Config Slave ID.</mat-label>
      <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
        Errorcode is
        <strong>required</strong>
    </mat-error> -->
      <input matInput type="number" min="1" formControlName="slaveid">
      </mat-form-field>
    <mat-form-field class="half-width float-right">
      <mat-label>Holding Reg.</mat-label>
      <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
        Errorcode is
        <strong>required</strong>
    </mat-error> -->
      <input matInput type="number" min="1" formControlName="holdingreg">
      </mat-form-field>
      <mat-form-field class="half-width float-left">
        <mat-label>First Register.</mat-label>
        <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
          Errorcode is
          <strong>required</strong>
      </mat-error> -->
        <input matInput type="number" min="1" formControlName="firstreg">
        </mat-form-field>
        <mat-form-field class="half-width float-right">
          <mat-label>Display Output type.</mat-label>
          <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
            Errorcode is
            <strong>required</strong>
        </mat-error> -->
          <input matInput type="string" min="1" formControlName="displayoutputtype">
          </mat-form-field>

       <div layout="row" layout-align="center center" class="divBtnCon float-right">
        <div fxFlex>
        <button mat-raised-button color="primary" class="btn add-btn fr" (click)="onFormSubmit()"
            [disabled]="!schedulerForm.valid ">
            <mat-icon>save</mat-icon>
            <b *ngIf="isAdd == true"> Add</b>
            <b *ngIf="isAdd != true"> Update</b>
        </button>
        <button mat-raised-button class="btn cancel-btn fr" (click)="onCloseClick()">
            <mat-icon>close</mat-icon> <b>Cancel</b>
        </button>


        </div>
    </div>
    </form>
  </div>
</div>
