


 <!-- <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
  <div  fxLayout="row" fxFlex>

      <h2 >Camera Details</h2>
      <div class="col-md-6" fxFlex="80%" style="flex: 1 1 100%; box-sizing: border-box;">
        <iframe [src]="cameraUrl" width="800px" height="480px"
        frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6"  fxFlex="20%" class="camdetail-headers" style="flex: 1 1 100%; box-sizing: border-box;margin-left: 40px;">
        <label style="display: grid;">
        <span>Camera Make: {{model.camMake}}</span>
        <span>Camera Model No: {{model.cam_model_no}}</span>
        <span>Ptz: {{model.ptz}}</span>
        <span>Zoom: {{model.zoom}} </span>
        <span>Night Vision: {{model.night_vision}}</span>
        <span>ip Camera: {{model.ipAddress}}</span>
        </label>
      </div>
  </div>
</div> -->

<div class="">
  <div class="close-btn">
    <button mat-icon-button  (click)="onCloseClick()">
        <i class="material-icons" title="Click here to close Camera">cancel</i>
    </button>
  </div>
  <div class="mat-h2 header">
    Camera
  </div>
<div  fxLayout="row" class="logmain-sec" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center flex-start; align-items: center;">
<div class="col-md-6" fxFlex="80%" style="flex: 1 1 100%; box-sizing: border-box;">
    <iframe [src]="cameraUrl" width="800px" height="380px"
    frameborder="0" allowfullscreen></iframe>
</div>
  <div class="col-md-6" fxFlex="20%" class="camdetail-headers" style="flex: 1 1 100%; box-sizing: border-box;margin-left: 40px;">
    <label style="display: grid;">
      <h2>Camera Details</h2>
      <span><label>Camera Make:</label> {{model.camMake}}</span>
      <span><label>Camera Model No:</label>  {{model.cam_model_no}}</span>
      <span><label>Ptz:</label> {{model.ptz}}</span>
      <span><label>Zoom:</label> {{model.zoom}} </span>
      <span><label>Night Vision:</label> {{model.night_vision}}</span>
      <span><label>Ip Camera</label>  {{model.ipAddress}}</span>
</label>
  </div>
</div>
</div>


  <div class="mat-h2 header">
    Camera Chart
    <div #container></div>
  </div>



    <!-- <div #container></div> -->

