

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    // background-color: mat-color($app-primary, 50);
  }
  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      // background-color: mat-color($app-primary, 100) !important;
    }
  }
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;
  background-color:#0c3c60;
  color:#fff;

  .routeIcon {
    margin-right: 32px;
  }

}
.mat-list-item:hover{color:#0c3c60 !important;}
.rotate{
  background-color: #fff !important; color:#0c3c60 !important;
}
