@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;





  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: mat-color($mat-indigo, 100) !important;
      border-radius: 10px;
    }
  }
}

.mat-list-item.active {
  background-color:deepskyblue;
  border-radius: 5px;
  height: 34px

}
.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;
  // height: 34px;

  .routeIcon {
    margin-right: 20px;
  }
}
