#sidebar {
    width: 200px;
    position: fixed;
    top: 56px;
    bottom: 0;
    background: #fff;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    z-index: 999;
    overflow: auto;
    // background-color: rgba(12,60,96,0.8) !important;
    background-color: #283144 !important;

    .mat-nav-list {
        width: 100%;
        a {
            .mat-icon {
                margin-right: 5px;
            }
            display: block;
        }
    }
}
// .mat-list-base{padding-top: 0px !important;}
.nested-menu {
    .nested {
        list-style-type: none;
    }
    .submenu {
        display: none;
        height: 0;
        background-color: #000 !important;
    }
    & .expand {
        &.submenu {
          background-color: #000 !important;
            display: block;
            list-style-type: none;
            height: auto;
            margin: 0;
            li {
                a {
                    padding: 10px;
                    display: block;
                    background-color: #000 !important;
                }
            }
        }
    }
}
a.mat-list-item:hover {
  background-color: #6f6296 !important;
  color: #fff;
  border: 2px solid #0c3c60 !important;
}
//  app-menu-list-item.ng-tns-c10-16.ng-star-inserted {
//    background-color: #000;
//  }
a.mat-list-item{cursor: pointer;}
@media screen and (max-width: 992px) {
    #sidebar {
        left: -250px;
    }
}
