:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}
.nav-brand {
  width: 292px;
  text-align: left;
  font-weight: bold;
  font-size: 28px;
  font-style: italic;
  display: inline-grid;
  line-height: 0px;
}
.nav-brand span{color:yellow; display: contents;}
.nav-brand small{font-size: 11px;margin-top: 20px;}
.sitename {
float: left;
text-align: left;
width: 100%;
font-weight: bold;
font-size: 25px;
color: #ff0;
margin-left: 25px;
}
.welcomeloggeduser {
font-weight: bold;
font-size: 22px;
}
.dashboard-logomerge{margin-left:160px;}

.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}

.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
.dektoslogo-dashboard{display: block;}
@media screen and (max-width: 992px) {
  .visible-md {
      display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
      display: block;
  }
  .nav-brand {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
      display: none;
  }
}
