<div class="divTaskScheduler">
    <div fxFlex>
      <form [formGroup]="schedulerForm" class="scheduler-form">
          <div class="close-btn">
              <button mat-icon-button  (click)="onCloseClick()">
                  <i class="material-icons" title="Click here to delete controllerbus popup">cancel</i>
              </button>
            </div>
        <div class="mat-h2 header">
          ControlBus
        </div>
	<mat-form-field class="full-width">
            <mat-label>Bus Id.</mat-label>
            <!-- <mat-error *ngIf="schedulerForm.controls.errordesc.hasError('required')">
              Errordesc is
              <strong>required</strong>
          </mat-error> -->
            <input matInput type="bigint" min="1" formControlName="busId">
        </mat-form-field>
        <mat-form-field class="half-width float-left">
            <mat-label>Mac Id.</mat-label>
            <!-- <mat-error *ngIf="schedulerForm.controls.macId.hasError('required')">
                Macid is
                <strong>required</strong>
            </mat-error> -->
            <input matInput type="string" min="1" formControlName="macId">
            <!-- <mat-select formControlName="macId" >
               <mat-option [value]="mac.id" *ngFor="let mac of macsArray">{{mac.name}}
               </mat-option>
           </mat-select> -->
       </mat-form-field>
        <mat-form-field class="half-width float-right">
          <mat-label>Com_Port.</mat-label>
          <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
            Errorcode is
            <strong>required</strong>
        </mat-error> -->
          <input matInput type="string" min="1" formControlName="comPort">
      </mat-form-field>
      <mat-form-field class="half-width float-left">
          <mat-label>Protocal.</mat-label>
           <mat-error *ngIf="schedulerForm.controls.protocal.hasError('required')">
            Protocal is
            <strong>required</strong>
        </mat-error>
          <!-- <input matInput type="string" min="1" formControlName="protocal"> -->
          <mat-select formControlName="protocal">
              <mat-option [value]="controllerbus.name" *ngFor="let controllerbus of siteprotocalArray">{{controllerbus.name}}
                </mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field class="half-width float-right">
        <mat-label>BaudRate.</mat-label>
         <!-- <mat-error *ngIf="schedulerForm.controls.baudRate.hasError('required')">
          Baudrate is
          <strong>required</strong>
      </mat-error> -->
        <!-- <input matInput type="bigint" min="1" formControlName="baudRate"> -->
        <mat-select formControlName="baudrate">
            <mat-option [value]="controllerbus.name" *ngFor="let controllerbus of sitebaudrateArray">{{controllerbus.name}}
              </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="half-width float-left">
      <mat-label>Timeout.</mat-label>
      <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
        Errorcode is
        <strong>required</strong>
    </mat-error> -->
      <input matInput type="bigint" min="1" formControlName="timeOut">
  </mat-form-field>

  <mat-form-field class="half-width float-right">
    <mat-label>Start Index.</mat-label>
    <!-- <mat-error *ngIf="schedulerForm.controls.errorcode.hasError('required')">
      Errorcode is
      <strong>required</strong>
  </mat-error> -->
    <input matInput type="bigint" min="1" formControlName="startIndex">
</mat-form-field>

        <div layout="row" layout-align="center center" class="divBtnCon float-right">
          <div fxFlex>
          <button mat-raised-button color="primary" class="btn add-btn fr" (click)="onFormSubmit()"
              [disabled]="!schedulerForm.valid ">
              <mat-icon>save</mat-icon>
              <b *ngIf="isAdd == true"> Add</b>
              <b *ngIf="isAdd != true"> Update</b>
          </button>
          <button mat-raised-button class="btn cancel-btn fr" (click)="onCloseClick()">
              <mat-icon>close</mat-icon> <b>Cancel</b>
          </button>


          </div>
      </div>
      </form>
    </div>
  </div>
